<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.metadata.name }}</title>
    <link rel="icon" href="{{ site.metadata.icon }}" type="image/png" />
    <link rel="stylesheet" href="base.css" />
  </head>
  <body id="body">
    <div id="sideNav" class="sidenav">
      <a id="mainDivNavBtn" onclick="showPage('mainDiv')" class="selectedNav">Q&A</a>
      <a id="randomNavBtn" onclick="showPage('random')">Random Question</a>
      <a id="linksNavBtn" onclick="showPage('links')">Links</a>
    </div>
    <div id="mainDiv" class="main">
      <h1>{{ site.metadata.name }} ({{ site.metadata.version }})</h1>

      {% for item in site.content %} {% if item.type == "csv_table" %}
      <input
        type="text"
        id="searchInput"
        onkeyup="searchKeyUp()"
        placeholder="Search.."
      />
      <div id="categoryBtnContainer">
        <button class="btn active" onclick="filterSelection('all')">
          Show all
        </button>
        {% for category in categories %}
        <button class="btn" onclick="filterSelection('{{ category.name }}')">
          {{ category.name }}
        </button>
        {% endfor %}
      </div>
      <br />
      <table id="qandaTable" class="qandaTable">
        <tr class="header">
          <th style="width: 10%">Category</th>
          <th style="width: 10%">Category Type</th>
          <th style="width: 35%">Question</th>
          <th style="width: 35%">Answer</th>
          <th style="width: 10%">Difficulty</th>
        </tr>
        {% for entry in entries %}
        <tr>
          <td><b>{{ entry.category.name }}</b></td>
          <td>{{ entry.category.type }}</td>
          <td>{{ entry.question }}</td>
          <td>{{ entry.answer }}</td>
          <td>{{ "⭐"*entry.difficulty }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>{{ item.contents }}</p>
      {% endif %} {% endfor %}
    </div>
    <div id="random" class="main hide">
      <h1>Random Question</h1>
      <table id="randomQandaTable" class="qandaTable">
        <tr class="header">
          <th style="width: 10%">Category</th>
          <th style="width: 10%">Category Type</th>
          <th style="width: 35%">Question</th>
          <th style="width: 35%">Answer</th>
          <th style="width: 10%">Difficulty</th>
        </tr>
      </table>
    </div>
    <div id="links" class="main hide">
      <h1>Links</h1>
      <a href="https://daintta.sharepoint.com/sites/Intranet/SitePages/recruitment2.aspx?csf=1&web=1&e=4BpJEf">Intranet - Recruitment</a>
      <br><br>
      <a href="https://daintta.sharepoint.com/sites/Daintta/_layouts/15/guestaccess.aspx?share=Egknu2bfOktCrnWVJzjhT-IBD3JJJkXObnpifqKoxlAU1g&e=SfuZKS">SharePoint - Interview Templates</a>
    </div>
  </body>
  <script>
    function searchKeyUp() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("qandaTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td_el = tr[i].getElementsByTagName("td");
        td = td_el[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
  <script>
    function filterTable(category) {
      if (category == "all") {
        category = "";
      }

      var filter, table, tr, td, i, txtValue;
      filter = category.toUpperCase();
      table = document.getElementById("qandaTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td_el = tr[i].getElementsByTagName("td");
        td = td_el[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    filterSelection("all");

    function filterSelection(c) {
      filterTable(c);

      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
      for (i = 0; i < x.length; i++) {
        removeClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) {
          addClass(x[i], "show");
        }
      }
    }

    // Show filtered elements
    function addClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }

    // Hide elements that are not selected
    function removeClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
      }
      element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("categoryBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    function randomIntFromInterval(min, max) { // min and max included 
      return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function hidePages() {
      parent = document.getElementById("sideNav")
      for (const child of parent.children) {
        el = document.getElementById(child.id.replace("NavBtn", ""))
        addClass(el, "hide")
        el_btn = document.getElementById(child.id)
        removeClass(el_btn, "selectedNav")
      }
    }

    function showPage(id) {
      hidePages()
      el = document.getElementById(id)
      el_btn = document.getElementById(id + "NavBtn")
      removeClass(el, "hide")
      addClass(el_btn, "selectedNav")

      if (id === "random") {
        qandaTable = document.getElementById("qandaTable")
        rows = qandaTable.getElementsByTagName("tr");
        filtered_rows = Object.values(rows).filter(function(item) {
          return item.style.display != "none"
        })
        N = filtered_rows.length
        random_sample = randomIntFromInterval(1, N-1)
        sample = filtered_rows[random_sample]

        table = document.getElementById("randomQandaTable")
        table_rows = table.getElementsByTagName("tr")
        for (let i = 0; i < table_rows.length; i++) {
          if (i > 0) {
            table_rows[i].remove()
          }
        }
        if (sample !== undefined) {
          table.append(sample.cloneNode(true))
        }
      }
    }
  </script>
</html>
